{% extends 'centered.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col s8 m6 offset-s2 offset-m3">
            <div class="card white black-text">
                {% block card_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
