{% extends 'base.html.twig' %}

{% block body %}
    <div class="valign-wrapper landing-bg">
        <div class="valign container">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}
