{% extends "card.html.twig" %}

{% block card_content %}
<div class="card-content">

  <h1 class="card-title">Change password</h1>


  {% trans_default_domain 'FOSUserBundle' %}
  {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
  {{ form_widget(form) }}
    <div>
      <input type="submit" value="{{ 'change_password.submit'|trans }}"
        class="waves-effect waves-light btn light-blue darken-4 valign"/>
    </div>
  {{ form_end(form) }}
</div>
{% endblock %}
